
@{
    ViewData["Title"] = "ManufactureRegistration";
    Layout = "~/Views/Masters/_RegistrationsLayout.cshtml";
}

@section Header {
    <link href="~/css/Registrations/CommonStyleSheet.css" rel="stylesheet" />
}

@section Content {
    <div class="FormBackgroung">

        <div class="TitleBorder">
            <div class="Title">
                Реєстрація для пивоварів
            </div>
        </div>

        <div class="FieldBorder">
            <div class="FieldBackground">
                <div class="FieldTitleBorder">
                    <div class="FieldTitle">
                        Назва пивоварні (якщо є)
                    </div>
                </div>
                <input class="TextBox" type="text" />
            </div>
        </div>

        <div class="FieldBorder">
            <div class="FieldBackground">
                <div class="FieldTitleBorder">
                    <div class="FieldTitle">
                        Опис виробництва (якщо є)
                    </div>
                </div>
                <textarea class="TextArea"></textarea>
            </div>
        </div>

        <div class="FieldBorder">
            <div class="FieldBackground">
                <div class="FieldTitleBorder">
                    <div class="FieldTitle">
                        Електронна пошта (обов'язково)
                    </div>
                </div>
                <input class="TextBox" type="text" />
            </div>
        </div>

        <div class="FieldBorder">
            <div class="FieldBackground">
                <div class="FieldTitleBorder">
                    <div class="FieldTitle">
                        Телефон (обов'язково)
                    </div>
                </div>
                <div class="PhoneBackground">
                    <input class="PhoneCodeTextBox" type="tel" />
                    <input class="PhoneNumberTextBox" type="tel" />
                </div>
            </div>
        </div>

        <div class="FieldBorder">
            <div class="FieldBackground">
                <div class="FieldTitleBorder">
                    <div class="FieldTitle">
                        Ім'я контактної особи виробника (обов'язково)
                    </div>
                </div>
                <input class="TextBox" type="text" />
            </div>
        </div>

        <div class="ButtonsBorder">
            <div class="Button">Save</div>
            <div class="Button">Save</div>
        </div>
    </div>
}

